{% block loading %}
    {% load static %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/buy_checkout.js' %}"></script>
{% endblock loading %}



<h2>Items list<h2>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'warning' %}
                <div 
                    class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" 
                    role="alert">
                    {% autoescape off %}
                        {{ message }}
                    {% endautoescape %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

<ul>
    {% for item in items %}
        <li>
            <p>Name: {{ item.item.name }}</p>
            <p>Price: {{ item.item.price }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Remained: {{ item.item.remained }}</p>
        </li>
    {% endfor %}
<ul>

<hr>
<p>Summary: {{ summary }}</p>

<form action='make_order' method="get">
    <button type="submit">Order</button>
</form>
