{% extends 'base.html' %}

    {% block title %}
      Cool stuff | {{ item.name }}</title>
    {% endblock title %}

    {% block loading %}
      {% load static %}
      <script src="https://js.stripe.com/v3/"></script>
      <script src="{% static 'js/checkout.js' %}"></script>
    {% endblock loading %}

    {% block content %}
    
      <div>
        <div>Name: {{ item.name }}</div>
        <div>Description: {{ item.description }}</div>
        <div>Price: {{ item.price }}</div>
      <div>
        
      <form method="GET" id="buyForm">
        {% csrf_token %}
        <input id="amount" type="number" value=1>
        <button id="buyBtn">Buy</button>
      </form>
    
      
    {% endblock content %}
