{% extends 'base.html' %}

{% block title %}
    {{ avatar_username }}'s orders
{% endblock title %}

{% block loading %}
    {% load static %}
      <script src="https://js.stripe.com/v3/"></script>
      <script src="{% static 'js/buy_checkout.js' %}"></script>
      {% load divide_tag %}
{% endblock loading %}

{% block content %}
    <ul>
        {{ discounts }}
        {{ summary }}
        {{ orders }}
        {{ items }}
    {% for order in orders %}
        {% comment %} <a href="{% url 'order' order.pk %}"> {% endcomment %}
            <li>
                <ul>
                {% for item in order.get_items %}
                    <li>PK: {{ item.item.pk }}</li>
                    <li>Name: <a href="{% url 'item' item.item.pk %}">{{ item.item.name }}</a></li>
                    <li>Description: {{ item.item.description }}</li>
                    <li>Price: {{ item.item.price|divide:100 }} RUB</li>
                    <p>{{ order.discounts }}</p>
                    {% for pk, discount in order.discounts.items %}
                        <p>{{ pk }}</p>
                        {% if pk == item.item.pk %}
                            <li>Discount: {{ discount }} RUB</li>
                        {% endif %}
                    {% endfor %}
                    <li>Quantity: {{ item.quantity }}</li>
                {% endfor %}
                </ul>
                {% if order.payed %}
                    <hr>
                    <p>Order payed!!!</p>
                    <p>Summary: {{ order.summarize|divide:100 }} RUB</p>
                {% else %}
                    <hr>
                    <p>Order not payed!!!</p>
                    <form id="buyForm{{order.pk}}" class="buyForm">
                        {% csrf_token %}
                        <button type="submit">Buy</button>
                    </form>
                {% endif %}
            </li>
    {% empty %}
    No orders yet!
    {% endfor %}
    </ul>
{% endblock content %}
